.custom-dropdown-choosecalendar-name{
    margin: auto 0px;
}

.custom-dropdown-choosecalendar{
    margin: 0 20px !important;
    width: 290px;
}

.custom-calendargetter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.custom-addcalendar-container{
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    width: 700px;
    margin: auto;
}


.custom-addcalendar-inputcontainer{
}

.custom-addcalendar-inputname{
    margin: 0;
    margin-right: auto;
    font-size: small;
    text-align: left;
}

.custom-addcalendar-inputfield{
    width: 200px;
    margin-right: 20px;
}

.custom-addcalendar-submitbutton{
    width: 100px;
}

.custom-addcalendar-response-success{
    color: green;
    text-align: left;
    margin-top: 5px;
}

.custom-addcalendar-response-wrong{
    color: rgb(206, 0, 0);
    text-align: left;
    margin-top: 5px;
}