.login-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-register-inputbox{
    margin: 10px auto;
}

.custom-register-submitbutton{
    margin: 10px;
}